# Step 1 - Benchmarking

### Domain and Data

Prepared for the Neural Information Processing Symposium 2003 Feature Extraction Workshop

http://clopinet.com/isabelle/Projects/NIPS2003

MADELON is an artificial dataset, which was part of the NIPS 2003 feature selection challenge. This is a two-class classification problem with continuous input variables. The difficulty is that the problem is multivariate and highly non-linear

MADELON is an artificial dataset containing data points grouped in 32 clusters placed on the vertices of a five dimensional hypercube and randomly labeled +1 or -1. The five dimensions constitute 5 informative features. 15 linear combinations of those features were added to form a set of 20 (redundant) informative features. Based on those 20 features one must separate the examples into the 2 classes (corresponding to the +-1 labels). We added a number of distractor feature called 'probes' having no predictive power. The order of the features and patterns were randomized.
### Problem Statement

Our dataset has 499 features to select from. Of those 499 there are 5 relevant features to provide us the highest output.

### Solution Statement

Using machine learning technology, we will build algorithm models to find the optimal features. 

### Metric

Our metric for success will consist of various steps to provide the highest model scores.

### Benchmark

Our benchmark for this will be using a naive Logistic Regression with default settings

In [1]:
from os import chdir
chdir('./lib')

In [2]:
import pandas as pd
#from sqlalchemy import create_engine
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso, Ridge, SGDRegressor, LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_regression

In [3]:
from project_5 import connect_to_postgres, load_data_from_database, make_data_dict, general_model, general_transformer

In [4]:
df = load_data_from_database('postgresql://dsi:correct horse battery staple@joshuacook.me:5432')

In [5]:
data_dict = make_data_dict(df.drop('label', axis=1), df['label'], 0.25, 51)

In [6]:
general_transformer(StandardScaler(), data_dict)

{'X':        feat_000  feat_001  feat_002  feat_003  feat_004  feat_005  feat_006  \
 index
 0           485       477       537       479       452       471       491
 1           483       458       460       487       587       475       526
 2           487       542       499       468       448       471       442
 3           480       491       510       485       495       472       417
 4           484       502       528       489       466       481       402
 5           481       496       451       480       516       484       484
 6           484       533       498       466       577       482       471
 7           474       468       598       490       530       482       448
 8           484       498       558       489       508       478       471
 9           496       448       570       476       477       481       595
 10          478       446       457       475       468       475       482
 11          486       479       528       483       530       484       479
 12          466       486       540       492       500       475       491
 13          477       510       536       497       481       488       556
 14          490       454       491       476       517       489       459
 15          485       472       536       485       497       466       530
 16          483       506       450       490       519       484       455
 17          485       481       428       478       531       469       468
 18          475       454       539       467       510       480       498
 19          472       485       461       483       533       484       569
 20          491       487       520       463       501       486       487
 21          470       464       494       512       559       484       398
 22          481       480       473       483       504       477       493
 23          482       487       543       479       498       475       436
 24          488       425       465       483       571       482       436
 25          489       510       492       468       510       486       481
 26          469       448       478       485       492       464       513
 27          480       461       496       476       448       472       429
 28          475       485       541       478       542       486       509
 29          484       478       566       483       483       484       502
 ...         ...       ...       ...       ...       ...       ...       ...
 1970        486       472       544       490       486       482       431
 1971        489       503       532       492       581       499       458
 1972        484       473       534       463       564       472       467
 1973        470       499       496       472       578       465       470
 1974        488       492       492       482       522       478       480
 1975        489       527       484       461       486       485       467
 1976        480       534       473       492       490       487       518
 1977        486       521       480       480       461       483       445
 1978        481       515       484       502       519       484       404
 1979        471       463       430       490       473       486       520
 1980        478       451       595       492       555       475       461
 1981        486       472       544       486       465       482       445
 1982        475       507       550       476       493       483       444
 1983        478       513       584       488       509       479       504
 1984        486       524       475       481       530       482       522
 1985        483       483       523       489       422       485       466
 1986        480       491       519       490       513       469       460
 1987        471       502       526       487       504       482       502
 1988        482       447       463       485       526       489       429
 1989        486       473       525       486       443       477       458
 1990        475       403       544       488       452       481       541
 1991        482       541       590       487       461       483       389
 1992        495       456       538       496       467       495       443
 1993        477       501       518       496       479       472       424
 1994        483       466       588       491       381       476       495
 1995        490       505       503       474       463       461       519
 1996        480       475       476       480       495       482       515
 1997        480       517       631       470       485       474       535
 1998        484       481       505       478       542       477       518
 1999        474       493       469       486       521       475       494

        feat_007  feat_008  feat_009    ...     feat_490  feat_491  feat_492  \
 index                                  ...
 0           476       475       473    ...          477       481       477
 1           479       485       469    ...          463       478       487
 2           478       480       477    ...          487       481       492
 3           474       502       476    ...          491       480       474
 4           478       487       468    ...          488       479       452
 5           476       500       482    ...          478       481       477
 6           477       476       468    ...          472       483       490
 7           476       497       489    ...          469       479       511
 8           478       488       470    ...          473       478       478
 9           477       465       490    ...          485       476       447
 10          479       478       473    ...          515       479       506
 11          477       462       487    ...          492       476       498
 12          474       505       475    ...          464       481       459
 13          478       486       475    ...          480       481       490
 14          477       508       482    ...          480       484       485
 15          478       475       475    ...          470       481       501
 16          476       473       468    ...          509       470       502
 17          477       473       471    ...          477       479       503
 18          477       505       473    ...          479       479       470
 19          480       496       471    ...          505       479       449
 20          476       486       471    ...          504       480       499
 21          478       486       485    ...          508       483       484
 22          477       494       482    ...          468       480       496
 23          476       476       479    ...          496       474       466
 24          478       478       486    ...          473       480       506
 25          477       482       477    ...          504       478       494
 26          477       515       477    ...          491       478       541
 27          477       492       486    ...          448       473       487
 28          478       492       480    ...          536       478       513
 29          476       486       475    ...          517       482       465
 ...         ...       ...       ...    ...          ...       ...       ...
 1970        475       509       474    ...          506       477       476
 1971        478       493       485    ...          444       479       494
 1972        475       479       478    ...          531       487       514
 1973        477       483       482    ...          481       479       473
 1974        476       468       471    ...          492       477       488
 1975        477       503       484    ...          490       479       480
 1976        475       487       476    ...          490       484       465
 1977        479       464       474    ...          518       480       488
 1978        478       479       484    ...          469       472       526
 1979        476       467       474    ...          535       473       534
 1980        475       499       487    ...          510       483       464
 1981        475       490       480    ...          473       483       479
 1982        477       489       481    ...          497       480       511
 1983        472       480       482    ...          489       483       482
 1984        477       478       478    ...          494       475       468
 1985        476       489       487    ...          485       475       445
 1986        475       467       475    ...          515       477       509
 1987        477       493       487    ...          486       497       506
 1988        477       498       485    ...          497       472       494
 1989        475       486       481    ...          505       482       536
 1990        476       482       475    ...          481       473       488
 1991        477       499       490    ...          466       481       504
 1992        475       461       494    ...          488       479       487
 1993        476       501       486    ...          450       476       435
 1994        476       470       479    ...          518       474       453
 1995        476       518       467    ...          467       479       449
 1996        479       480       484    ...          464       474       473
 1997        476       493       466    ...          501       483       479
 1998        477       510       472    ...          487       483       526
 1999        479       481       473    ...          467       476       508

        feat_493  feat_494  feat_495  feat_496  feat_497  feat_498  feat_499
 index
 0           485       511       485       481       479       475       496
 1           338       513       486       483       492       510       517
 2           650       506       501       480       489       499       498
 3           572       454       469       475       482       494       461
 4           435       486       508       481       504       495       511
 5           435       491       564       482       463       457       500
 6           648       484       475       479       475       462       484
 7           351       462       533       480       501       529       489
 8           633       453       556       458       473       531       440
 9           576       511       508       478       486       582       496
 10          491       512       476       471       501       550       517
 11          599       459       452       475       496       505       485
 12          696       470       503       473       493       506       522
 13          649       486       520       485       480       500       485
 14          633       562       482       474       500       535       474
 15          732       509       548       479       500       529       539
 16          207       547       479       476       461       520       504
 17          549       506       574       483       496       521       495
 18          627       509       451       476       479       540       506
 19          363       495       536       484       494       503       447
 20          285       486       480       479       493       578       484
 21          708       545       462       474       503       454       501
 22          453       451       462       484       492       520       511
 23          366       443       489       480       515       520       500
 24          596       463       486       478       510       472       508
 25          604       553       518       473       454       455       528
 26          649       435       513       481       463       506       569
 27          314       464       499       480       463       480       464
 28          561       504       509       482       485       481       487
 29          557       527       525       478       485       467       473
 ...         ...       ...       ...       ...       ...       ...       ...
 1970        554       508       535       476       476       515       481
 1971        595       477       552       477       474       555       538
 1972        524       539       525       475       493       507       527
 1973        564       480       474       479       493       550       476
 1974        516       554       521       478       459       428       449
 1975        498       510       498       481       474       512       477
 1976        496       529       510       486       497       457       478
 1977        695       407       483       478       460       533       493
 1978        713       517       410       487       490       467       475
 1979        789       447       517       474       474       545       506
 1980        410       548       472       479       479       524       527
 1981        187       587       512       478       497       502       527
 1982        479       480       534       485       481       505       583
 1983        458       485       474       487       488       465       495
 1984        433       456       548       484       463       523       503
 1985        600       488       515       479       470       500       451
 1986        583       542       523       472       472       562       457
 1987        573       440       522       490       469       520       506
 1988        487       529       520       475       485       552       459
 1989        639       522       558       474       477       579       504
 1990        438       450       500       461       485       525       510
 1991        304       455       539       480       506       552       478
 1992        488       451       515       485       463       504       507
 1993        736       539       546       482       514       557       540
 1994        715       447       485       468       491       569       452
 1995        588       499       506       475       463       507       501
 1996        424       454       570       476       493       465       485
 1997        687       488       488       483       500       523       481
 1998        750       486       529       484       473       527       485
 1999        449       463       533       481       489       516       516

 [2000 rows x 500 columns],
 'X_test': array([[ 1.11528222, -0.53589971,  0.31929211, ..., -0.51684957,
         -0.07424994,  0.45761632],
        [-0.30367585, -0.70409008,  1.07610477, ..., -0.00464154,
         -0.07424994,  0.45761632],
        [ 0.16931017, -1.37685157, -0.66456435, ...,  1.6783277 ,
          0.78974939, -0.23280125],
        ...,
        [-0.77666188,  0.57415675,  0.19315666, ...,  2.2637083 ,
          1.32974898,  1.91516452],
        [-0.14601385,  0.13686178, -0.41229347, ...,  0.87342936,
          1.05974919, -0.4245839 ],
        [ 0.16931017,  0.13686178, -0.16002258, ..., -1.24857533,
         -0.1282499 , -2.99447151]]),
 'X_train': array([[ 0.32697218,  0.57415675,  2.48882174, ...,  1.09294709,
         -0.74924943,  1.33981654],
        [-1.72263393, -0.70409008, -0.1095684 , ...,  1.53198254,
         -1.28924901,  2.03023411],
        [-0.14601385,  0.03594755,  1.02565059, ...,  0.21487618,
          0.27674979, -1.80541904],
        ...,
        [-0.14601385,  0.27141408, -0.81592689, ...,  0.87342936,
          0.70874946, -1.03828841],
        [ 0.32697218,  1.11236594,  1.30314857, ...,  1.971018  ,
         -0.80324938,  0.76446857],
        [ 0.95762021, -1.3432135 , -2.17818968, ...,  0.14170361,
         -0.2632498 ,  1.22474695]]),
 'processes': [StandardScaler(copy=True, with_mean=True, with_std=True)],
 'random_state': 51,
 'test_size': 0.25,
 'y': index
 0      -1
 1      -1
 2      -1
 3       1
 4       1
 5       1
 6       1
 7      -1
 8       1
 9      -1
 10     -1
 11     -1
 12      1
 13     -1
 14     -1
 15     -1
 16     -1
 17      1
 18     -1
 19      1
 20     -1
 21      1
 22     -1
 23      1
 24     -1
 25     -1
 26      1
 27     -1
 28      1
 29     -1
        ..
 1970    1
 1971   -1
 1972    1
 1973    1
 1974   -1
 1975    1
 1976    1
 1977    1
 1978   -1
 1979   -1
 1980    1
 1981    1
 1982   -1
 1983   -1
 1984    1
 1985    1
 1986   -1
 1987    1
 1988   -1
 1989    1
 1990   -1
 1991   -1
 1992   -1
 1993   -1
 1994    1
 1995    1
 1996   -1
 1997   -1
 1998    1
 1999    1
 Name: label, dtype: int64,
 'y_test': index
 1860    1
 353    -1
 1333   -1
 905    -1
 1289   -1
 1273    1
 938     1
 1731    1
 65     -1
 1323   -1
 56      1
 1292   -1
 1118    1
 584    -1
 374     1
 275     1
 746     1
 128    -1
 1646    1
 1852    1
 674    -1
 1664   -1
 1981    1
 1083    1
 1922    1
 99     -1
 1179    1
 964    -1
 792     1
 29     -1
        ..
 277     1
 1846    1
 358    -1
 1110    1
 236     1
 551     1
 1867   -1
 1812   -1
 208    -1
 1386   -1
 1560   -1
 58      1
 631     1
 1961    1
 1859   -1
 1816   -1
 363    -1
 505    -1
 1165    1
 1121   -1
 1629   -1
 1216   -1
 1151    1
 1124   -1
 1594   -1
 118     1
 1249    1
 1993   -1
 522     1
 513     1
 Name: label, dtype: int64,
 'y_train': index
 81     -1
 915    -1
 1018   -1
 380    -1
 1029    1
 1688   -1
 84     -1
 1677    1
 329    -1
 6       1
 745     1
 1553    1
 914    -1
 873    -1
 451     1
 490    -1
 1480   -1
 287     1
 948     1
 1985    1
 1368    1
 1146   -1
 705    -1
 1726    1
 1701   -1
 1628    1
 1599    1
 1538   -1
 1405    1
 1650   -1
        ..
 955    -1
 1215   -1
 385     1
 805     1
 1437   -1
 1515   -1
 343     1
 769    -1
 1332    1
 1685   -1
 130    -1
 1687   -1
 871     1
 1123   -1
 1396    1
 87     -1
 1482   -1
 330     1
 1238   -1
 466    -1
 121     1
 1638   -1
 1044    1
 1724    1
 1095    1
 1130    1
 1294    1
 860     1
 1459   -1
 1126   -1
 Name: label, dtype: int64}

In [7]:
log_model = general_model(LogisticRegression(C=1.0, penalty='l2'), data_dict)

In [38]:
print log_model['model']
print log_model['test_score']
print log_model['train_score']

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)
0.548484848485
0.813432835821

In [34]:
log_model_df = pd.DataFrame({'coef': log_model['model'].coef_[0],'features': log_model['X'].columns,
                               })

In [35]:
log_model_df.sort_values(by='coef', ascending=False).head(10)

         coef  features
433  0.897586  feat_433
472  0.667650  feat_472
475  0.520365  feat_475
48   0.469166  feat_048
493  0.408383  feat_493
241  0.390909  feat_241
56   0.378339  feat_056
46   0.376963  feat_046
453  0.362375  feat_453
494  0.334256  feat_494

<img src="assets/benchmarking.png" width="600px">